<!DOCTYPE html>
<html lang="fr" 
                xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="template1"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page de Formulaire pour les UES </title>

    <link rel="stylesheet" href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css">
</head>
<body>
    <div layout:fragment="content1">
        <div class="container mx-auto p-10" style="width: 500px; box-shadow: 4px  4px transparant;">
            <form th:action="@{/ajouter_ue}" method="post">
                <div >
                    <label for="codeUE">Code</label>
                    <input type="text" class="form-control" id="codeUE" name="codeUE" required />
                </div>
            
                <div>
                    <label for="libelleUE">Libelle</label>
                    <input type="text" class="form-control" id="libelleUE" name="libelleUE" required />
                </div>
            
                <div>
                    <label for="creditUE">Credits</label>
                    <input type="text" class="form-control" id="creditUE" name="creditUE" required />
                </div>
            
                <div>
                    <label for="coefficientUE">Coefficient</label>
                    <input type="text" class="form-control" id="coefficientUE" name="coefficientUE" required />
                </div>
                <button class="btn btn-outline-success mt-2" type="submit">Ajouter UE</button>
            </form>
        </div>
    </div>
</body> 
</html>
