<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title> PAGE UE</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css} "/>
</head>
<body>
<form th:action="@{/ajouter_ue}" method="post">
    <div>
        <label for="codeUE">Code</label>
        <input type="text" class="form-control" id="codeUE" name="codeUE" required />
    </div>

    <div>
        <label for="libelleUE">Libelle</label>
        <input type="text" class="form-control" id="libelleUE" name="libelleUE" required />
    </div>

    <div>
        <label for="creditUE">Credits</label>
        <input type="text" class="form-control" id="creditUE" name="creditUE" required />
    </div>

    <div>
        <label for="coefficientUE">Coefficient</label>
        <input type="text" class="form-control" id="coefficientUE" name="coefficientUE" required />
    </div>
    <button type="submit">Ajouter UE</button>
</form>
<h2> Liste des UE</h2>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Code</th>
            <th>Libelle</th>
            <th>Credits</th>
            <th>Coefficients</th>
            <th colspan="2">Operations</th>
        </tr>
    </thead>
    <tbody>
    <tr th:each ="e:${listeDesUE}">
        <td th:text="${e.idUE}"></td>
        <td th:text="${e.codeUE}"></td>
        <td th:text="${e.libelleUE}"></td>
        <td th:text="${e.creditUE}"></td>
        <td th:text="${e.coefficientUE}"></td>
        <td>
            <a th:href="@{/rechercher_id_modifier(id=${e.idUE})}">Modifier</a>
            <a th:href="@{/deleteUE/{id}(id=${e.idUE})}" method="delete">Supprimer</a>

        </td>
    </tr>

    </tbody>
</table>
</body>
</html>