<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" />
    <link rel="stylesheet" href="../static/css/buttons.dataTables.min.css" th:href="@{/css/buttons.dataTables.min.css}" />
    <link rel="stylesheet" href="../static/css/jquery.dataTables.min.css" th:href="@{/css/jquery.dataTables.min.css}" />


    <script src="../static/js/jquery-3.7.0.js" th:src="@{/js/jquery-3.7.0.js}"></script>
    <script src="../static/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
    <script src="../static/js/dataTables.buttons.min.js" th:src="@{/js/dataTables.buttons.min.js}"></script>
    <script src="../static/js/jquery.dataTables.min.js" th:src="@{/js/jquery.dataTables.min.js}"></script>
    

    <title>Page de details </title>
</head>
<body>
    <h3 style="text-align: center;">Liste de Ecs de : <span th:text="${ue.libelleUE}"></span></h3>
    <div class="row" style="padding: 10px 0;">
        <div style="text-align: center;">
            <button type="button" class="btn btn-success" data-toggle="modal" data-target='#form_Ajouter_EC_UE'>
                Ajouter EC
            </button>
            
        </div>
    </div>
        <!-- Boite Modal pour ajouter UE-->
    <div data-dismiss="modal">
        <div class="modal fade" id="form_Ajouter_EC_UE">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!--modal Header-->
                    <div class="modal-header panel-heading">
                        <h4 class="modal-header" >
                            Ajouter un EC 
                        </h4>
                    </div>
                    <!---Modal Body-->
                    <form th:action="@{ajouter_ec_ue}" method="post">
                    <div class="modal-body">
                        <div style="display: none;">
                            <label for="ue">Id UE</label>
                            <input type="text" class="form-control" id="ue" name="ue" th:value="${ue.idUE}"/>
                        </div>
                        <div >
                            <label for="codeEC">Code</label>
                            <input type="text" class="form-control" id="codeEC" name="CodeEC"/>
                        </div>

                        <div>
                            <label for="libelleEC">Libelle</label>
                            <input type="text" class="form-control" id="libelleEC" name="libelleEC"/>
                        </div>

                        <div>
                            <label for="cm">Cours Magistrals</label>
                            <input type="text" class="form-control" id="cm" name="cm" required/>
                        </div>

                        <div>
                            <label for="td">Travaux diriges</label>
                            <input type="text" class="form-control" id="td" name="td" required />
                        </div>

                        <div>
                            <label for="tp">Travaux pratiques</label>
                            <input type="text" class="form-control" id="tp" name="tp" required />
                        </div>
                        <div>
                            <label for="tpe">Travaux Personels de L'etudiant</label>
                            <input type="text" class="form-control" id="tpe" name="tpe" required />
                        </div>
                        <div>
                            <label for="coefficientEC">Coefficient</label>
                            <input type="text" class="form-control" id="coefficientEC" name="coefficientEC" required />
                        </div>
                    </div>
                    <div class="modal-footer d-flex justify-content-between">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        <button class="btn btn-primary" type="submit" onclick="redirectToAjouterEC()">Ajouter EC</button>
                    </div>
                    
                </form>
                </div>
            </div>
        </div>
    </div>
    <!--Debut Lister de UEs-->
    <div class="table-responsive" style="margin-left: 20px; margin-right: 20px;">
        <table class="table table-bordered table-striped" id="table_EC_UE">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Libelle</th>
                    <th>Code</th>
                    <th>CM</th>
                    <th>TD</th>
                    <th>TP</th>
                    <th>CM + TP/TD</th>
                    <th>TPE</th>
                    <th>VHT</th>
                    <th>Coefficient</th>
                    <th>Operations</th>
                
                </tr>
            </thead>
            <tbody>
                <tr th:each="p:${listeDesEC}">
                    <td th:text="${p.idEC}"></td>
                    <td th:text="${p.libelleEC}"></td>
                    <td th:text="${p.codeEC}"></td>
                    <td th:text="${p.cm}"></td>
                    <td th:text="${p.td}"></td>
                    <td th:text="${p.tp}"></td>
                    <td th:text="${p.tp+ p.td +p.td}"></td>
                    <td th:text="${p.tpe}"></td>
                    <td th:text="${p.tpe + p.tp+ p.td +p.td}"></td>
                    <td th:text="${p.coefficientEC}"></td>
                    <td>
                        <button  
                            class="btn btn-danger btn-sm"
                            data-title="Delete"
                            data-toggle="modal"
                            th:attr="data-target='#form_Supprimer_EC_UE'+${p.idEC}">
                            Delete
                        </button> 
                        <button
                            class="btn btn-info btn-sm"
                            data-title="Edit"
                            data-toggle="modal"
                            th:attr="data-target='#form_Modifier_EC_UE'+${p.idEC}" >
                            Modifier
                            
                        </button>
                    </td>

                    <!--Boite modal de suppression-->
                    <div data-dismiss="modal" >
                        <div class="modal fade" th:attr="id='form_Supprimer_EC_UE'+${p.idEC}">
                            <div class="modal-dialog">
                                <div class="modal-content panel-info">
                                    <!--modal Header-->
                                    <div class="modal-header panel-heading">
                                        <h4 class="modal-header" style="text-align: center;">
                                            Supprimer un EC
                                        </h4>
                                    </div>
                                    <!---Modal Body-->
                                    <form th:action="@{/supprimer_ec_ue}" method="post">
                                    <div class="modal-body">
                                        <p > Supprimer EC <span th:text="${p.idEC}"></span></p>
                                        <div style="display:none;">
                                            <input type="text" name="ue" id="ue" th:value="${ue.idUE}"  >
                                        </div>
                                        <div style="display:none;">
                                            <input type="text" name="idEC" id="idEC" th:value="${p.idEC}">
                                        </div>
                                        <div style="display:none;">
                                            <label for="codeEC">Code</label>
                                            <input type="text" class="form-control" id="codeEC" name="codeEC" th:value="${p.codeEC}"/>
                                        </div>
                                    
                                        <div style="display:none;">
                                            <label for="libelleEC">Libelle</label>
                                            <input type="text" class="form-control" id="libelleEC" name="libelleEC" th:value="${p.libelleEC}" />
                                        </div>
                                        <div style="display:none;">
                                            <label for="cm">Cours Magistrals</label>
                                            <input type="text" class="form-control" id="cm" name="cm" th:value="${p.cm}"/>
                                        </div>
                
                                        <div style="display:none;">
                                            <label for="td">Travaux diriges</label>
                                            <input type="text" class="form-control" id="td" name="td" th:value="${p.td}" />
                                        </div>
                
                                        <div style="display:none;">
                                            <label for="tp">Travaux pratiques</label>
                                            <input type="text" class="form-control" id="tp" name="tp" th:value="${p.tp}" />
                                        </div>
                                        <div style="display:none;">
                                            <label for="tpe">Travaux Personels de L'etudiant</label>
                                            <input type="text" class="form-control" id="tpe" name="tpe" th:value="${p.tpe}" />
                                        </div>
                                        <div style="display:none;">
                                            <label for="coefficientEC">Coefficient</label>
                                            <input type="text" class="form-control" id="coefficientEC" name="coefficientEC" th:value="${p.coefficientEC}" />
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button class="btn btn-primary" type="submit"
                                        onclick="return confirm('Etes vous sure?')">Supprimer</button>
                                    </div>
                                </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Boite modal pour modifier UE-->
                    <div data-dismiss="modal" >
                    <div class="modal fade" th:attr="id='form_Modifier_EC_UE'+${p.idEC}">
                        <div class="modal-dialog">
                            <div class="modal-content panel-info">
                                <!--modal Header-->
                                <div class="modal-header panel-heading">
                                    <h4 class="modal-header" style="text-align: center;">
                                        Modification de EC 
                                        <span th:text="${p.idEC}"></span>
                                    </h4>
                                </div>
                                <!---Modal Body-->
                                <form th:action="@{/modifier_ec_ue}" method="post">
                                <div class="modal-body">
                                    <div style="display:none;">
                                        <input type="text" name="ue" id="ue" th:value="${ue.idUE}"  >
                                    </div>
                                    <div style="display:none;">
                                        <input type="text" name="idEC" id="idEC" th:value="${p.idEC}">
                                    </div>
                                    <div>
                                        <label for="codeEC">Code</label>
                                        <input type="text" class="form-control" id="codeEC" name="codeEC" th:value="${p.codeEC}"/>
                                    </div>
                                
                                    <div >
                                        <label for="libelleEC">Libelle</label>
                                        <input type="text" class="form-control" id="libelleEC" name="libelleEC" th:value="${p.libelleEC}" />
                                    </div>
                                    <div >
                                        <label for="cm">Cours Magistrals</label>
                                        <input type="text" class="form-control" id="cm" name="cm" th:value="${p.cm}"/>
                                    </div>
            
                                    <div >
                                        <label for="td">Travaux diriges</label>
                                        <input type="text" class="form-control" id="td" name="td" th:value="${p.td}" />
                                    </div>
            
                                    <div >
                                        <label for="tp">Travaux pratiques</label>
                                        <input type="text" class="form-control" id="tp" name="tp" th:value="${p.tp}" />
                                    </div>
                                    <div >
                                        <label for="tpe">Travaux Personels de L'etudiant</label>
                                        <input type="text" class="form-control" id="tpe" name="tpe" th:value="${p.tpe}" />
                                    </div>
                                    <div >
                                        <label for="coefficientEC">Coefficient</label>
                                        <input type="text" class="form-control" id="coefficientEC" name="coefficientEC" th:value="${p.coefficientEC}" />
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button class="btn btn-primary" type="submit">Modifier</button>
                                </div>
                            </form>
                            </div>
                        </div>
                    </div>
                </div>


                </tr>
            </tbody>
        </table>
    </div>

    <script>
        $(document).ready(function(){
            $("#table_EC_UE").DataTable({
            });
        })
    </script>
    <!--<script>
        function setUEId() {
            // Extract the idUE from the URL parameters
            var urlParams = new URLSearchParams(window.location.search);
            var ueId = urlParams.get('id');
    
            // Set the value of the hidden input field
            document.getElementById('ue').value = ueId;
        }
    
        // Call the setUEId function when the modal is shown or when the form is submitted
        $('#form_Ajouter_EC_UE').on('show.bs.modal', setUEId);
        $('form').submit(setUEId);
    </script>-->
    
    
    
</body>
</html>